<a href="https://colab.research.google.com/github/Simranpatel15/python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age=18
old=False
a=None
print(type(old))
print(type(a))

<class 'bool'>
<class 'NoneType'>

In [ ]:
a=8    #sum of 2 num
b=8.78
print(a+b)
x='2'      #expilict type casting string to int
z=int(x)
y=4
print(z+y)

16.78
6

In [ ]:
input("enter ur name")

enter ur namesimran

'simran'

In [ ]:
x=int(input("enter the num"))            #input
y=int(input("enter the num"))
print("sum",x+y)

enter the num5
enter the num6
sum 11

In [ ]:
x=float(input("enter the num"))        #avg of 2 num
y=float(input("enter the num"))
print("average",(x+y)/2)

enter the num5.6
enter the num6.5
average 6.05

In [ ]:
a="sim"                            #concatenation
b="ran"
print(a+b)

simran

In [ ]:
x=int(input("enter the side"))
print("area=",x*x)

enter the side5
area= 25

In [ ]:
a="simran"                        #length of string
b=len(a)
print(b)

6

In [ ]:
str='simran'
ch=str[0]
print(ch)

s

In [ ]:
str='simran patel'
str[1:4]

'imr'

In [ ]:
str='i am simran'
print(str.endswith('an'))
print(str.capitalize())
print(str.replace('a','o'))
print(str.find('a'))
print(str.find('o'))
print(str.count('a'))

True
I am simran
i om simron
2
-1
2

In [ ]:
a=input("your name")
print(len(a))

your namesimran
6

In [ ]:
marks=int(input("marks of student"))
if(marks>90):
  grade="A"
elif(marks>80 and marks<=90 ):
  grade="B"
elif(marks>70 and marks<=80 ):
   grade="C"
elif(marks>60 and marks<=70):
   grade="D"
elif(marks>50 and marks<=60 ):
   grade="E"
elif(marks>40 and marks<=50 ):
   grade="F"
elif(marks>30 and marks<=40 ):
    grade="G"
else:
   grade="fail"

print(grade)

marks of student40
G

In [ ]:
#nesting
age=int(input("enter age"))
if(age>=18):
 if(age>80):
   print("cannot drive")
 else:
   print("can drive")
else:
 print("cannot drive")

enter age25
can drive

In [ ]:
num=int(input("enter the number"))
if(num%2==0):
  print("number is even")
else:
  print("number is odd")

enter the number25
number is odd

In [ ]:
#greatest of three number
num1=int(input("enter first num"))
num2=int(input("enter second num"))
num3=int(input("enter third num"))

if(num1>num2 and num1>num3):
  print("num1 is greatest")
el6if(num2>num1 and num2>num3):
   print("num2 is greatest")
else:
   print("num3 is greatest")

enter first num5
enter second num2
enter third num1
num1 is greatest

In [ ]:
marks=[95,97,87,86,83]          #list
print(marks)
print(type(marks))
print(len(marks))
print(marks[3])
marks[3]=89
print(marks)

[95, 97, 87, 86, 83]
<class 'list'>
5
86
[95, 97, 87, 89, 83]

In [ ]:
list=[2,1,3]
print(list.append(4))
print(list)

print(list.sort())
print(list)

print(list.sort(reverse=True))
print(list)

print(list.reverse())
print(list)

print(list.insert(2,0))
print(list)

None
[2, 1, 3, 4]
None
[1, 2, 3, 4]
None
[4, 3, 2, 1]
None
[1, 2, 3, 4]
None
[1, 2, 0, 3, 4]

In [ ]:
list=[2,1,3,1]
print(list.reverse())
print(list)

None
[1, 3, 1, 2]

In [ ]:
list=[2,3,1]
print(list.pop(1))
print(list)

3
[2, 1]

In [ ]:
list=[2,1,3,1]
print(list.remove(1))
print(list)

None
[2, 3, 1]

In [ ]:
#tuple

tup=(2,1,3,1)
print(tup)
print(type(tup))
print(tup.index(2))
print(tup.count(1))

(2, 1, 3, 1)
<class 'tuple'>
0
2

In [ ]:
#input 3 city name and store in list
city=[]
city.append(input("1st city"))
city.append(input("2nd city"))
city.append(input("3rd city"))
print(city)

1st citypatna
2nd cityhajipur
3rd citygaya
['patna', 'hajipur', 'gaya']

In [ ]:
#WAP TO CHECK IF A LIST IS PALINDROME

list1=[1,2,1]

copy_list1=list1.copy()
copy_list1.reverse()
if(copy_list1==list1):
 print("palindrome")
else:
  print("not palindrome")


list2=[1,2,3]

copy_list2=list2.copy()
copy_list2.reverse()
if(copy_list2==list2):
 print("palindrome")
else:
  print("not palindrome")

palindrome
not palindrome

In [ ]:
#dictionary

info={
    "key" : "value",
    "name": "simran",
    "age" : 18,
    }

print(info)
print(info["key"])
info["surname"]="patel"
print(info)
print(info.keys())
print(info.values())
print(info.items())
print(info.get("key"))
print(info["key"])
print(info.update({"city": "patna"}))
print(info)

{'key': 'value', 'name': 'simran', 'age': 18}
value
{'key': 'value', 'name': 'simran', 'age': 18, 'surname': 'patel'}
dict_keys(['key', 'name', 'age', 'surname'])
dict_values(['value', 'simran', 18, 'patel'])
dict_items([('key', 'value'), ('name', 'simran'), ('age', 18), ('surname', 'patel')])
value
value
None
{'key': 'value', 'name': 'simran', 'age': 18, 'surname': 'patel', 'city': 'patna'}

In [ ]:
#sets
collection={1,1,2,3,"hii"}
print(collection)
print(collection.pop())
print(type(collection))

{'hii', 2, 3, 1}
hii
<class 'set'>

In [ ]:
# NULL SETS

num=set()
print(num.add(1))
print(num)

None
{1}

In [ ]:
num=set()
print(num.add(1))
print(num.add(2))
print(num.remove(1))
print(num.clear())
print(num)
print(len(num))

None
None
None
None
set()
0

In [ ]:
set1={1,2,3}
set2={1,4,5}
print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4, 5}
{1}

In [ ]:
dict={
    "animals" : "cat",
    "table" : ["small piece of furniture", "wood"]
}

print(dict)

{'animals': 'cat', 'table': ['small piece of furniture', 'wood']}

In [ ]:
sub={"python", "java", "c++", "java", "c", "javascript","python"}  #sets
print(len(sub))

5

In [ ]:
#dict
sub={}
print(sub.update({"phy":86}))
print(sub.update({"chem":97}))
print(sub.update({"maths":95}))
print(sub)

None
None
None
{'phy': 86, 'chem': 97, 'maths': 95}

In [ ]:
students = {}
n = int(input("Enter the number of students: "))
for i in range(n):
    name = input("Enter student name: ")
    marks = float(input("Enter percentage marks: "))
    students[name]=marks


print("\nStudent Information:")
for name, marks in students.items():
    print(f"Name:{name} , Marks:{marks} %")

Enter the number of students: 2
Enter student name: bfdfgrfd
Enter percentage marks: 65
Enter student name: gfesd
Enter percentage marks: 6

Student Information:
Name:bfdfgrfd , Marks:65.0 %
Name:gfesd , Marks:6.0 %

In [ ]:
text = input("Enter a string: ").lower()
vowels = "aeiou"
occurrences = {v: 0 for v in vowels}

for char in text:
    if char in vowels:
        occurrences[char] += 1

print("Occurrences of each vowel:")
for vowel, count in occurrences.items():
    print(f"{vowel}: {count}")

Enter a string: simran
Occurrences of each vowel:
a: 1
e: 0
i: 1
o: 0
u: 0

In [ ]:
students = {}
n = int(input("Enter the number of students: "))
for _ in range(n):
    name = input("Enter student name: ")
    marks = float(input("Enter marks: "))
    students[name] = marks

search_name = input("Enter the name of the student to search: ")
if search_name in students:
    print(f"{search_name}'s marks: {students[search_name]}")
else:
    print("Student not found.")
dgd33

Enter the number of students: 5
Enter student name: dgdg
Enter marks: 33
Enter student name: hrtyr
Enter marks: 32
Enter student name: si
Enter marks: 35
Enter student name: w
Enter marks: 86
Enter student name: tyj
Enter marks: 2
Enter the name of the student to search: si
si's marks: 35.0

In [ ]:
data = {
    "name": "John Doe",
    "age": 30,
    "address": "123 Main St",
    "type": "Individual"
}

print(f"Total keys: {len(data)}")
print(data.get("keys"))
data.update({"dadad":"cffv"})
print(data)

Total keys: 4
None
{'name': 'John Doe', 'age': 30, 'address': '123 Main St', 'type': 'Individual', 'dadad': 'cffv'}

In [ ]:
data = {"a": 1, "b": 2, "c": 1, "d": 3, "e": 2}
unique_data = {}
for key, value in data.items():
    if value not in unique_data.values():
        unique_data[key] = value

print("Dictionary after removing duplicates:")
print(unique_data)

Dictionary after removing duplicates:
{'a': 1, 'b': 2, 'd': 3}

In [ ]:
data = {'a':2}
if not data:
    print("The dictionary is empty.")
else:
    print("The dictionary is not empty.")

The dictionary is not empty.

In [ ]:
nums = list(map(int, input("Enter integers separated by space: ").split()))
total = sum(nums)
average = total / len(nums)
print(f"Sum: {total}, Average: {average}")

Enter integers separated by space: 2 3 4 5 67
Sum: 81, Average: 16.2

In [ ]:
n = int(input("Enter the value of n: "))
total = n * (n + 1) // 2
average = total / n
print(f"Sum: {total}, Average: {average}")

Enter the value of n: 5
Sum: 15, Average: 3.0

In [ ]:
from collections import Counter

nums = list(map(int, input("Enter integers separated by space: ").split()))
odd_occurrences = [num for num, count in Counter(nums).items() if count % 2 != 0]
print("Elements with odd occurrences:", odd_occurrences)

Enter integers separated by space: 2 12 3 4
Elements with odd occurrences: [2, 12, 3, 4]

In [ ]:
list1 = list(map(int, input("Enter elements of the first list separated by space: ").split()))
list2 = list(map(int, input("Enter elements of the second list separated by space: ").split()))
merged_list = list1 + list2
even_numbers = [num for num in merged_list if num % 2 == 0]
print("Merged list:", merged_list)
print("Even numbers:", even_numbers)

Enter elements of the first list separated by space: 3 4 5
Enter elements of the second list separated by space: 2 1 6
Merged list: [3, 4, 5, 2, 1, 6]
Even numbers: [4, 2, 6]

In [ ]:
from collections import Counter

nums = list(map(int, input("Enter integers separated by space: ").split()))
odd_occurrences = [num for num, count in Counter(nums).items() if count % 2 != 0]
print("Elements with odd occurrences:", odd_occurrences)

Enter integers separated by space: 2 5 9 9
Elements with odd occurrences: [2, 5]

In [ ]:
data = {"a": 10, "b": 25, "c": 5, "d": 15}
max_value = max(data.values())
min_value = min(data.values())
print(f"Maximum value: {max_value}")
print(f"Minimum value: {min_value}")

Maximum value: 25
Minimum value: 5

In [ ]:
# Input two tuples
tuple1 = tuple(map(int, input("Enter elements of the first tuple separated by space: ").split()))
tuple2 = tuple(map(int, input("Enter elements of the second tuple separated by space: ").split()))

# Concatenate tuples
concatenated_tuple = tuple1 + tuple2
print("Concatenated Tuple:", concatenated_tuple)

# a) Find the length
print("Length of the concatenated tuple:", len(concatenated_tuple))

# b) Find the maximum and minimum element
if concatenated_tuple:
    print("Maximum element:", max(concatenated_tuple))
    print("Minimum element:", min(concatenated_tuple))
else:
    print("The tuple is empty, so max and min cannot be calculated.")

# c) Search an element
element = int(input("Enter an element to search: "))
if element in concatenated_tuple:
    print(f"{element} is present in the tuple.")
else:
    print(f"{element} is not present in the tuple.")

# d) Delete the concatenated tuple
del concatenated_tuple
print("Concatenated tuple deleted.")
 36

Enter elements of the first tuple separated by space: 5 6 9 88
Enter elements of the second tuple separated by space:  2
Concatenated Tuple: (5, 6, 9, 88, 2)
Length of the concatenated tuple: 5
Maximum element: 88
Minimum element: 2
Enter an element to search: 2
2 is present in the tuple.
Concatenated tuple deleted.

In [ ]:
# Input tuple
t = tuple(map(int, input("Enter elements of the tuple separated by space: ").split()))

# Check for uniqueness
if len(t) == len(set(t)):
    print("The tuple contains all unique elements.")
else:
    print("The tuple does not contain unique elements.")

Enter elements of the tuple separated by space: 2 34 5
The tuple contains all unique elements.

In [ ]:
# Input tuple
t = tuple(map(int, input("Enter elements of the tuple separated by space: ").split()))

# Find size
print(len(t))

Enter elements of the tuple separated by space: 5 6 2
3

In [ ]:
# Input list
nums = list(map(int, input("Enter numbers separated by space: ").split()))

# Create list of tuples
result = [(x, x**3) for x in nums]
print( result)

Enter numbers separated by space: 5 6 99
[(5, 125), (6, 216), (99, 970299)]

In [ ]:
data = {}
n = int(input("Enter the number of key-value pairs: "))
for _ in range(n):
    key = input("Enter key: ")
    value = int(input("Enter value: "))
    data[key] = value

total = sum(data.values())
print(f"Sum of values: {total}")

Enter the number of key-value pairs: 2
Enter key: hf
Enter value: 5
Enter key: gge
Enter value: 5
Sum of values: 10

In [ ]:
text = input("Enter a string: ")
occurrences = {}
for char in text:
    if char.isalpha():
        occurrences[char] = occurrences.get(char, 0) + 1

print("Occurrences of each letter:")
for char, count in occurrences.items():
    print(f"{char}: {count}")

Enter a string: simmran
Occurrences of each letter:
s: 1
i: 1
m: 2
r: 1
a: 1
n: 1

In [ ]:
value={9,"9.0"}
print(value)
values={
    ("int", 9),
    ("float", 9.0)
}
print(values)

{9, '9.0'}
{('float', 9.0), ('int', 9)}

In [ ]:
#loops
i=1
while i<=5:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
#loops
i=5
while i>=1:
  print(i)
  i-=1

5
4
3
2
1

In [ ]:
n=2
i=1
while i<=10:
 print(n*i)
 i+=1

2
4
6
8
10
12
14
16
18
20

In [ ]:
#print the list using loop

num=[1,4,9,16,25]
i=0
while i< len(num):
  print(num[i])
  i+=1

1
4
9
16
25

In [ ]:
#search for x in tuple

a=(1,24,3,40)
x=3
i=0
while i<len(a):
 if(a[i]==x):
   print("element fount at",i)
 i+=1

element fount at 2

In [ ]:
i=1                   #BREAK
while i<=10:
 if(i==7):
  break
 print(i)
 i+=1

1
2
3
4
5
6

In [ ]:
i=1                     #CONTINUE
while i<=10:
 if(i==7):
  i+=1
  continue

 print(i)
 i+=1

1
2
3
4
5
6
8
9
10

In [ ]:
#FOR LOOP

num={1,2,3,4}
for vals in num:
 print(vals)

1
2
3
4

In [ ]:

#search for num usig for loop

tup =(2,24,3,45,3)
x=3
i=0
for val in tup:
   if(val==x):
      print("element found at",i)
   i+=1

element found at 2
element found at 4

In [ ]:
for i in range(5):
  print(i)
for i in range(1,5):
  print(i)
for i in range(1,5,2):
  print(i)

0
1
2
3
4
1
2
3
4
1
3

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# WAP fact using for
num=int(input("enter the num"))
fact=1
for i in range(1,num+1):
  fact*=i

print(fact)

enter the num5
120

In [ ]:
# WAP  sum of n natural num (while)

num=int(input("enter the num"))
i=1
sum=0
while i<=num:
  sum+=i
  i+=1
print(sum)

enter the num2
3

In [ ]:
#function

def sum(a,b):
  sum=a+b
  print(sum)
  return sum

sum(2,3)
sum(10,5)

5
15

15

In [ ]:
#avg of 3 number

def avg(a,b,c):
  avg=(a+b+c)/3
  print(avg)
  return avg

avg(a=1,b=2,c=3)
avg(4,6,8)

2.0
6.0

6.0

In [ ]:
print("simran",end=" ")
print("patel")

print("simran",end="_")
print("patel")

simran patel
simran_patel

In [ ]:
def cal_product(a,b):
 product=a*b
 print(product)
 return product

cal_product(2,3)

6

6

In [ ]:
def cal_product(a,b):
  print(a*b)
  return a*b
cal_product(1,2)

2

2

In [ ]:
#WAF to print length of list

a=[1,2,3,4,5]
b=[2,3,4]

def print_len(list):
  print(len(list))
print_len(a)
print_len(b)

5
3

In [ ]:
#WAF to print element of list in single line

a=[1,2,3,4,5]

def print_element(list):
  for i in a:
    print(i,end=" ")
print_element(a)

1 2 3 4 5

In [ ]:
#WAF to print fact of n

def fact(n):
  fact=1
  for i in range(1,n+1):
    fact*=i
  print(fact)

fact(5)

120

In [ ]:
#WAF to convert USD to INR

def converter(usd):
  inr=83*usd
  print(usd,"usd=" ,inr, "inr")

converter(8)

8 usd= 664 inr

In [ ]:
#recursion

def show(n):
  if (n==0):
    return
  print(n)
  show(n-1)
show(6)

6
5
4
3
2
1

In [ ]:
def fact(n):
  if(n==0 or n==1):
    return 1
  else:
    return n*fact(n-1)
fact(n=5)

120

In [ ]:
# write a function to calculate sum of n natural number
def sum(n):
  if(n==1):
    return 1
  else:
    return n+sum(n-1)
sum(5)

15

In [ ]:
#function to calculate sum of n natural num using for loop
def sum(n):
  sum=0
  for i in range(1,n+1):
    sum+=i
  print(sum)
sum(5)

#function to calculate sum of n natural num using for loop
def sum(n):
  i=1
  sum=0

  while i<=n:
    sum+=i
    i+=1
  print(sum)
sum(6)

15
21

In [ ]:
#file

open("sample.txt","w")
data=open("sample.txt","r")
print(data.read())

In [ ]:
a=int(input("enter value of a"))
b=int(input("enter value of b"))

a=a+b
b=a-b
a=a-b
print(f"after swap : a={a},b={b}")

enter value of a 6
enter value of b 9
after swap : a=9,b=6

In [ ]:
a=int(input("enter value of a"))
b=int(input("enter value of b"))

print("sum: ",a+b)
print("sum: ",a-b)
print("multiply: ",a*b)
if b!=0:
  print("division: ",a/b)
else:
  print("division not possible")0

enter value of a5
enter value of b0
sum:  5
sum:  5
multiply:  0
division not possible

In [ ]:
celsius=float(input("enter the temp in celsius"))
fahrenheit=(celsius*9/5)+32
print(fahrenheit,)

enter the temp in celsius5
41.0

In [ ]:
total_days=int(input("enter the total days"))
years=total_days/365
days=total_days%365
weeks=days/7
day=days%7

print(years)
print(days)
print(weeks)
print(day)

enter the total days 988
2.706849315068493
258
36.857142857142854
6

In [ ]:
p=float(input("enter the principle"))
r=float(input("enter the rate"))
t=float(input("enter the time"))

si=(p*r*t)/100
print(si)
ci=p*(1+(r/100))**t-p
print(ci)

enter the principle 100
enter the rate  5
enter the time  6
30.0
34.00956406250003

In [ ]:
a=int(input("enter value of a"))
b=int(input("enter value of b"))

print(f"bitwise and : {a&b}")
print(f"bitwise or : {a|b}")
print(f"bitwise xor : {a^b}")

enter value of a 5
enter value of b6
bitwise and : 4
bitwise or : 7
bitwise xor : 3

In [ ]:
a=int(input("enter value of a"))
b=int(input("enter value of b"))
c=int(input("enter value of c"))

max=a if(a>b and a>c) else (b if b>c else c)
min=a if(a<b and a<c) else (b if b<c else c)

print("maximum num", max)
print("minimum num", min)

enter value of a  25
enter value of b  45
enter value of c  10
maximum num 45
minimum num 10

In [ ]:
a=3
b='2'
c=int(b)
print(a+c)

5

In [ ]:
# 1. Find the sum and average of elements in a list containing integer values
numbers = list(map(int, input("Enter a list of integers separated by spaces: ").split()))
total = sum(numbers)
average = total / len(numbers) if numbers else 0
print(f"Sum: {total}, Average: {average}")

# 2. Find the sum and average of the first n natural numbers
n = int(input("Enter a number (n) to find the sum and average of the first n natural numbers: "))
sum_n = n * (n + 1) // 2
average_n = sum_n / n if n > 0 else 0
print(f"Sum of first {n} natural numbers: {sum_n}, Average: {average_n}")

# 3. Find elements that appear an odd number of times in a list
lst = list(map(int, input("Enter a list of integers separated by spaces: ").split()))
from collections import Counter
frequency = Counter(lst)
odd_elements = [key for key, value in frequency.items() if value % 2 != 0]
print(f"Elements appearing an odd number of times: {odd_elements}")

# 4. Merge two lists and find the even numbers
list1 = list(map(int, input("Enter the first list of integers separated by spaces: ").split()))
list2 = list(map(int, input("Enter the second list of integers separated by spaces: ").split()))
merged_list = list1 + list2
even_numbers = [num for num in merged_list if num % 2 == 0]
print(f"Even numbers from merged list: {even_numbers}")

Sum: 19, Average: 4.75
Sum of first 5 natural numbers: 15, Average: 3.0
Elements appearing an odd number of times: [5, 9, 7, 12, 3]
Enter the first list of integers separated by spaces:  1 1 2 3 3 3 4
Even numbers from merged list: [2, 4, 2, 4, 6]

In [ ]:
text = "Haldia Institute of Technology"
for char in text:
    if char == 's':
        print("Encountered 's': Using continue")
        continue  # Skip 's' and move to the next iteration
    elif char == 't':
        print("Encountered 't': Using break")
        break  # Stop the loop when 't' is found
    elif char == ' ':
        pass  # Do nothing for spaces
    else:
        print(char)

H
a
l
d
i
a
I
n
Encountered 's': Using continue
Encountered 't': Using break

In [ ]:
string = input("Enter a string: ")
print("Index-wise characters (positive and negative):")
for i in range(len(string)):
    print(f"Character at index {i} ({-len(string) + i}): {string[i]}")

Enter a string: bhg
Index-wise characters (positive and negative):
Character at index 0 (-3): b
Character at index 1 (-2): h
Character at index 2 (-1): g

In [ ]:
string = input("Enter a string: ")

odd_positions = string[1::2]
even_positions = string[0::2]

print("Characters at odd positions:", odd_positions)
print("Characters at even positions:", even_positions)

Enter a string: fewsvf
Characters at odd positions: esf
Characters at even positions: fwv

In [ ]:
s="programming"
result=""

for char in s:
  if char not in result:
     result+=char
print(result)

progamin

In [ ]:
main_string = input("Enter the main string: ")
substring = input("Enter the substring to search: ")

positions = [i for i in range(len(main_string)) if main_string.startswith(substring, i)]
if positions:
    print(f"Substring found at positions: {positions}")
else:
    print("Substring not found.")

Enter the main string: simram
Enter the substring to search: im
Substring found at positions: [1]

In [ ]:
num = int(input("Enter a number: "))
sum_of_powers = sum(int(digit) ** len(str(num)) for digit in str(num))
if num == sum_of_powers:
    print(f"{num} is an Armstrong number.")
else:
    print(f"{num} is not an Armstrong number.")

Enter a number: 153
153 is an Armstrong number.

In [ ]:
n = int(input("Enter the number of terms: "))
a, b = 0, 1
print("Fibonacci series:")
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms: 5
Fibonacci series:
0 1 1 2 3

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

gcd = math.gcd(a, b)
lcm = abs(a * b)

print(f"GCD: {gcd}, LCM: {lcm}")

Enter the first number: 5
Enter the second number: 6

NameError: name 'math' is not defined

In [ ]:
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
value = int(input("Enter the value to search: "))

for i, num in enumerate(numbers):
    if num == value:
        print(f"Value found at index {i}")
        break
else:
    print("Value not found.")

Enter numbers separated by space: 5 6 9
Enter the value to search: 5
Value found at index 0

In [ ]:
mport re
password=input("enter password")
if(6<=len(password)<=12)and
  re.search("[a-z]",password)and
   re.search("[A-Z]",password)and re.search("[0-9]",password)and re.search("[$ # @]",password):
   print("valid password")

In [ ]:
import re
password=input("enter password")
if(6<=len(password)<=12) and
  re.search("[a-z]",password)and
  re.search("[A-Z]",password)and
  re.search("[0-9]",password)and
  re.search("[$ # @]",password):
  print("valid password")
else:
  print("invalid")

SyntaxError: invalid syntax (<ipython-input-65-25837dc51270>, line 3)

In [ ]:
num = input("Enter a number: ")
if num == num[::-1]:
    print(f"{num} is a palindrome.")
else:
    print(f"{num} is not a palindrome.")

Enter a number: 121
121 is a palindrome.

In [ ]:
n = int(input("Enter the number of lines: "))
for i in range(1, n + 1):
    print(" " * (n - i) + "* " * i)

Enter the number of lines: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
import re

password = input("Enter password: ")

# Check conditions for valid password
if (6 <= len(password) <= 12) and \
   re.search("[a-z]", password) and \
   re.search("[A-Z]", password) and \
   re.search("[0-9]", password) and \
   re.search("[$#@]", password):
    print("Valid password")
else:
    print("Invalid password")

Enter password: gbfv
Invalid password

In [ ]:
def count_denominations(amount):
    denominations = [2000, 500, 100, 50, 20, 10, 5, 2, 1]
    for denom in denominations:
        count = amount  // denom
        if count > 0:
            print(f"₹{denom}: {count} notes")
        amount %= denom

# Input amount from the user
amount = int(input("Enter the amount of money: "))

# Call the function
count_denominations(amount)

Enter the amount of money: 575
₹500: 1 notes
₹50: 1 notes
₹20: 1 notes
₹5: 1 notes

In [ ]:
def count_denominations(amount):
  denominations=[]
  for denom in denominations:
     count=amount//denom
     if count>0:
      print(f"")
    amount%=denom

In [ ]:
# Input amount from the user
amount = int(input("Enter the amount of money: "))

# List of denominations in descending order
denominations = [2000, 500, 100, 50, 20, 10, 5, 2, 1]

# Loop through each denomination
for denom in denominations:
    count = amount // denom
    if count > 0:
        print(f"₹{denom}: {count} notes")
    amount %= denom